Crontab instructions -- https://www.digitalocean.com/community/tutorials/how-to-use-cron-to-automate-tasks-on-a-vps
sudo apt-get update
sudo apt-get install cron

to edit crontab
crontab -e
Then, we’ll edit it like so:

SHELL=/bin/bash
HOME=/
MAILTO=”example@digitalocean.com”
#This is a comment
* * * * * echo ‘Run this command every minute’

Special Syntax
There are several shorthand commands you can use in your crontab file to make administering a little easier. They are essential shortcuts for the equivalent numeric schedule specified:

@hourly - Shorthand for 0 * * * *
@daily - Shorthand for 0 0 * * *
@weekly - Shorthand for 0 0 * * 0
@monthly - Shorthand for 0 0 1 * *
@yearly - Shorthand for 0 0 1 1 *




Crontab Commands help--

https://crontab.guru

t 00:00 on every day-of-week from Monday through Friday.” -- 0 0 * * 1-5

“At 01:00. everyday -- 0 1 * * *
